<div>
  <h2>Ingrese Producto</h2>
  <form action="/productos" method="post" class="p-5" id="productForm">
    <div class="mb-3">
      <label class="form-label">Ttile</label>
      <input type="text" class="form-control" name="title" id="title" />
    </div>
    <div class="mb-3">
      <label class="form-label">Precio</label>
      <input type="number" class="form-control" name="price" id="price" />
    </div>
    <div class="mb-3">
      <label class="form-label">Url</label>
      <input type="text" class="form-control" name="url" id="url" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>
<div>
  <h3>Lista de productos</h3>
  <div id="productsContainer">

  </div>

</div>
<div>
  <h3>Centro de mensajes</h3>
  <p id="mail"></p>
  <form id="chatForm" action="">
    <input type="text" id="messageChat" />
    <button type="submit">Enviar</button>
  </form>
  <div id="chatContainer">

  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="form.js"></script>
<script src="chat.js"></script>