{{#if products}}
  <table class="table table-dark table-striped-columns">
    <thead>
      <th scope="col">Titulo</th>
      <th scope="col">Precio</th>
      <th scope="col">Imagen</th>
    </thead>
    <tbody>
      {{#each products}}
        <tr>
          <td>{{this.title}}</td>
          <td>{{this.price}}</td>
          <td><img width="100px" src="{{this.url}}" /></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p>No hay productos</p>
{{/if}}